BACKEND_CORS_ORIGINS=*
DOMAIN_NAME=ulk.vn
LENGTH_SHORTEN_TOKEN=6
REDIS_HOST=redis://redis:6379
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@host.docker.internal:3306/ulink
API_KEY=e9e3c2daccd90e03a65a4be39f8a9f0e
API_DOCS=/docs
API_REDOC=/redoc
PROXY_IP=
