BACKEND_CORS_ORIGINS=*
DOMAIN_NAME=example.com
LENGTH_SHORTEN_TOKEN=6
REDIS_HOST=redis://redis:6379
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@host.docker.internal:3306/dbname
API_KEY=api_key
API_DOCS=/docs
API_REDOC=/redoc
PROXY_IP=
